# Groupby

Using a python `lambda` on groups will kill parallelization due to running Python code and therefore being subject to the Python Global Interpreter Lock. This notebook is about approaches to get around this in Polars.

In [1]:
import polars as pl
from polars import col

Load the [US congress dataset](https://github.com/unitedstates/congress-legislators).

In [2]:
dtypes = {
    "first_name": pl.Categorical,
    "gender": pl.Categorical,
    "type": pl.Categorical,
    "state": pl.Categorical,
    "party": pl.Categorical,
}
url = 'https://theunitedstates.io/congress-legislators/legislators-current.csv'
dataset = pl.read_csv(url, dtype=dtypes).with_column(pl.col("birthday").str.strptime(pl.Date, strict=False))

/tmp/ipykernel_1642/2773615226.py:9: DeprecationWarning: `dtype` is deprecated as an argument to `read_csv`; use `dtypes` instead.
  dataset = pl.read_csv(url, dtype=dtypes).with_column(pl.col("birthday").str.strptime(pl.Date, strict=False))

In [3]:
dataset.head()

shape: (5, 34)
┌──────────┬──────────┬───────────┬────────┬─────┬────────────┬────────────┬──────────┬────────────┐
│ last_nam ┆ first_na ┆ middle_na ┆ suffix ┆ ... ┆ ballotpedi ┆ washington ┆ icpsr_id ┆ wikipedia_ │
│ e        ┆ me       ┆ me        ┆ ---    ┆     ┆ a_id       ┆ _post_id   ┆ ---      ┆ id         │
│ ---      ┆ ---      ┆ ---       ┆ str    ┆     ┆ ---        ┆ ---        ┆ i64      ┆ ---        │
│ str      ┆ cat      ┆ str       ┆        ┆     ┆ str        ┆ str        ┆          ┆ str        │
╞══════════╪══════════╪═══════════╪════════╪═════╪════════════╪════════════╪══════════╪════════════╡
│ Brown    ┆ Sherrod  ┆ null      ┆ null   ┆ ... ┆ Sherrod    ┆ null       ┆ 29389    ┆ Sherrod    │
│          ┆          ┆           ┆        ┆     ┆ Brown      ┆            ┆          ┆ Brown      │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Cantwell ┆ Maria    ┆ null      ┆ null   ┆ ... ┆ Maria      ┆ null       ┆ 39310    ┆ Maria      │
│          ┆          ┆           ┆        ┆     ┆ Cantwell   ┆            ┆          ┆ Cantwell   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Cardin   ┆ Benjamin ┆ L.        ┆ null   ┆ ... ┆ Ben Cardin ┆ null       ┆ 15408    ┆ Ben Cardin │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Carper   ┆ Thomas   ┆ Richard   ┆ null   ┆ ... ┆ Tom Carper ┆ null       ┆ 15015    ┆ Tom Carper │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Casey    ┆ Robert   ┆ P.        ┆ Jr.    ┆ ... ┆ Bob Casey, ┆ null       ┆ 40703    ┆ Bob Casey  │
│          ┆          ┆           ┆        ┆     ┆ Jr.        ┆            ┆          ┆ Jr.        │
└──────────┴──────────┴───────────┴────────┴─────┴────────────┴────────────┴──────────┴────────────┘

You can chain together as many aggregations as you like:

In [4]:
q = (
    dataset.lazy()
    .groupby("first_name")
    .agg([
        pl.count(),
        col("gender").list(),
        pl.first("last_name"),
    ])
    .sort("count", reverse=True)
    .limit(5)
)

q.collect()

shape: (5, 4)
┌────────────┬───────┬─────────────────────┬───────────┐
│ first_name ┆ count ┆ gender              ┆ last_name │
│ ---        ┆ ---   ┆ ---                 ┆ ---       │
│ cat        ┆ u32   ┆ list[cat]           ┆ str       │
╞════════════╪═══════╪═════════════════════╪═══════════╡
│ John       ┆ 19    ┆ ["M", "M", ... "M"] ┆ Barrasso  │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Mike       ┆ 14    ┆ ["M", "M", ... "M"] ┆ Kelly     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Michael    ┆ 11    ┆ ["M", "M", ... "M"] ┆ Bennet    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ David      ┆ 10    ┆ ["M", "M", ... "M"] ┆ Cicilline │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ James      ┆ 9     ┆ ["M", "M", ... "M"] ┆ Inhofe    │
└────────────┴───────┴─────────────────────┴───────────┘

In [5]:
q = (
    dataset.lazy()
    .groupby("state")
    .agg([
        (col("party") == "Republican").sum().alias("dem"),
        (col("party") == "Democrat").sum().alias("rep"),
    ])
    .sort("rep", reverse=True)
    .limit(5)
)

q.collect()

shape: (5, 3)
┌───────┬─────┬─────┐
│ state ┆ dem ┆ rep │
│ ---   ┆ --- ┆ --- │
│ cat   ┆ u32 ┆ u32 │
╞═══════╪═════╪═════╡
│ CA    ┆ 11  ┆ 44  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ NY    ┆ 8   ┆ 21  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ IL    ┆ 5   ┆ 15  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ TX    ┆ 26  ┆ 12  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ NJ    ┆ 2   ┆ 12  │
└───────┴─────┴─────┘

You can filter groups

In [6]:
q = (
    dataset.lazy()
    .groupby(["state", "party"])
    .agg([pl.count("party").alias("count")])
    .filter((pl.col("party") == "Democrat") | (pl.col("party") == "Republican"))  # only show some groups
    .sort("count", reverse=True)
    .limit(5)
)

q.collect()

shape: (5, 3)
┌───────┬────────────┬───────┐
│ state ┆ party      ┆ count │
│ ---   ┆ ---        ┆ ---   │
│ cat   ┆ cat        ┆ u32   │
╞═══════╪════════════╪═══════╡
│ CA    ┆ Democrat   ┆ 44    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ TX    ┆ Republican ┆ 26    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ NY    ┆ Democrat   ┆ 21    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ FL    ┆ Republican ┆ 18    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ IL    ┆ Democrat   ┆ 15    │
└───────┴────────────┴───────┘

You can safely use functions for clarity, as long as they return Polars expressions

In [7]:
from datetime import datetime

def compute_age() -> pl.Expr:
    return datetime.now().year - col("birthday").dt.year()

def avg_birthday(gender: str) -> pl.Expr:
    return compute_age().filter(col("gender") == gender).mean().alias(f"avg {gender} birthday")

q = (
    dataset.lazy()
    .groupby(["state"])
    .agg([
        avg_birthday("M"),
        avg_birthday("F"),
        (col("gender") == "M").sum().alias("# male"),
        (col("gender") == "F").sum().alias("# female"),
    ])
    .sort("# female", reverse=True)
    .limit(5)
)

q.collect()

shape: (5, 5)
┌───────┬────────────────┬────────────────┬────────┬──────────┐
│ state ┆ avg M birthday ┆ avg F birthday ┆ # male ┆ # female │
│ ---   ┆ ---            ┆ ---            ┆ ---    ┆ ---      │
│ cat   ┆ f64            ┆ f64            ┆ u32    ┆ u32      │
╞═══════╪════════════════╪════════════════╪════════╪══════════╡
│ CA    ┆ 58.323529      ┆ 68.904762      ┆ 34     ┆ 21       │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ NY    ┆ 54.947368      ┆ 53.7           ┆ 19     ┆ 10       │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ FL    ┆ 58.789474      ┆ 57.0           ┆ 19     ┆ 9        │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ WA    ┆ 57.25          ┆ 58.0           ┆ 4      ┆ 8        │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ TX    ┆ 58.066667      ┆ 62.25          ┆ 30     ┆ 8        │
└───────┴────────────────┴────────────────┴────────┴──────────┘

## Sorting

It is common to sort a dataframe for the purpose of managing ordering during a groupby.

We can also sort within the context of a particular group after grabbing the youngest/oldest.

In [8]:
def get_person() -> pl.Expr:
    return col("first_name") + pl.lit(" ") + col("last_name")

[This example](https://pola-rs.github.io/polars-book/user-guide/dsl/groupby.html#sorting) doesn't seem to work as I expect...

In [9]:
q = (
    dataset.lazy()
    .sort("birthday")
    .groupby(["state"])
    .agg([
        get_person().first().alias("youngest"),  # uses the global sort-by 
        get_person().first().alias("oldest"),  # uses the global sort-by
        get_person().sort().last().alias("alphabetical_first"),  
        # I'd expect this to give the gender of the first person. TODO: WTF
        col("gender").sort_by("first_name").last().alias("alphabetical_first_gender")  
    ])
    # I'd expect this to return the states in alphabetical order at the very end. TODO: WTF
    .sort("state", reverse=False)  
    .limit(5)
)

q.collect()

shape: (5, 5)
┌───────┬───────────────┬───────────────┬────────────────────┬───────────────────────────┐
│ state ┆ youngest      ┆ oldest        ┆ alphabetical_first ┆ alphabetical_first_gender │
│ ---   ┆ ---           ┆ ---           ┆ ---                ┆ ---                       │
│ cat   ┆ str           ┆ str           ┆ str                ┆ cat                       │
╞═══════╪═══════════════╪═══════════════╪════════════════════╪═══════════════════════════╡
│ OH    ┆ Marcy Kaptur  ┆ Marcy Kaptur  ┆ Warren Davidson    ┆ F                         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ WA    ┆ Patty Murray  ┆ Patty Murray  ┆ Suzan DelBene      ┆ F                         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ MD    ┆ Steny Hoyer   ┆ Steny Hoyer   ┆ Steny Hoyer        ┆ M                         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ DE    ┆ Thomas Carper ┆ Thomas Carper ┆ Thomas Carper      ┆ F                         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ PA    ┆ Mike Kelly    ┆ Mike Kelly    ┆ Susan Wild         ┆ M                         │
└───────┴───────────────┴───────────────┴────────────────────┴───────────────────────────┘

Thomas Carper is not a woman!

In [10]:
def filter_person(first_name, last_name) -> pl.Expr:
    return (col("first_name") == first_name) & (col("last_name") == last_name)

first_name, last_name = "Thomas", "Carper"  # is a Male!

dataset.select([
    col("first_name").filter(filter_person(first_name, last_name)),
    col("last_name").filter(filter_person(first_name, last_name)),
    col("gender").filter(filter_person(first_name, last_name)),
    col("state").filter(filter_person(first_name, last_name)),
])

shape: (1, 4)
┌────────────┬───────────┬────────┬───────┐
│ first_name ┆ last_name ┆ gender ┆ state │
│ ---        ┆ ---       ┆ ---    ┆ ---   │
│ cat        ┆ str       ┆ cat    ┆ cat   │
╞════════════╪═══════════╪════════╪═══════╡
│ Thomas     ┆ Carper    ┆ M      ┆ DE    │
└────────────┴───────────┴────────┴───────┘