# Timeseries

`strptime` formats in Rust can be found here: https://docs.rs/chrono/latest/chrono/format/strftime/index.html

In [2]:
import polars as pl
from polars import col
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [9]:
df = pl.read_csv('https://github.com/kyleconroy/apple-stock/blob/master/apple_stock_data.csv?raw=true', 
                 parse_dates=False)

In [10]:
df

shape: (6953, 7)
┌────────────┬────────┬────────┬────────┬────────┬──────────┬───────────┐
│ Date       ┆ Open   ┆ High   ┆ Low    ┆ Close  ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---    ┆ ---      ┆ ---       │
│ str        ┆ f64    ┆ f64    ┆ f64    ┆ f64    ┆ i64      ┆ f64       │
╞════════════╪════════╪════════╪════════╪════════╪══════════╪═══════════╡
│ 2012-03-30 ┆ 608.77 ┆ 610.56 ┆ 597.94 ┆ 599.55 ┆ 26050900 ┆ 599.55    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-29 ┆ 612.78 ┆ 616.56 ┆ 607.23 ┆ 609.86 ┆ 21668300 ┆ 609.86    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-28 ┆ 618.38 ┆ 621.45 ┆ 610.31 ┆ 617.62 ┆ 23385200 ┆ 617.62    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-27 ┆ 606.18 ┆ 616.28 ┆ 606.06 ┆ 614.48 ┆ 21628200 ┆ 614.48    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...    ┆ ...    ┆ ...    ┆ ...    ┆ ...      ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-12 ┆ 26.87  ┆ 27.0   ┆ 26.12  ┆ 26.12  ┆ 4773600  ┆ 2.98      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-11 ┆ 26.62  ┆ 27.37  ┆ 26.62  ┆ 26.87  ┆ 5444000  ┆ 3.07      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-10 ┆ 26.5   ┆ 26.62  ┆ 25.87  ┆ 26.37  ┆ 2346400  ┆ 3.01      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-07 ┆ 26.5   ┆ 26.87  ┆ 26.25  ┆ 26.5   ┆ 2981600  ┆ 3.02      │
└────────────┴────────┴────────┴────────┴────────┴──────────┴───────────┘

## Formatting dates from strings

In [13]:
df = df.with_column(col('Date').str.strptime(pl.Date, fmt='%Y-%m-%d'))
df

shape: (6953, 7)
┌────────────┬────────┬────────┬────────┬────────┬──────────┬───────────┐
│ Date       ┆ Open   ┆ High   ┆ Low    ┆ Close  ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---    ┆ ---      ┆ ---       │
│ date       ┆ f64    ┆ f64    ┆ f64    ┆ f64    ┆ i64      ┆ f64       │
╞════════════╪════════╪════════╪════════╪════════╪══════════╪═══════════╡
│ 2012-03-30 ┆ 608.77 ┆ 610.56 ┆ 597.94 ┆ 599.55 ┆ 26050900 ┆ 599.55    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-29 ┆ 612.78 ┆ 616.56 ┆ 607.23 ┆ 609.86 ┆ 21668300 ┆ 609.86    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-28 ┆ 618.38 ┆ 621.45 ┆ 610.31 ┆ 617.62 ┆ 23385200 ┆ 617.62    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-03-27 ┆ 606.18 ┆ 616.28 ┆ 606.06 ┆ 614.48 ┆ 21628200 ┆ 614.48    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...    ┆ ...    ┆ ...    ┆ ...    ┆ ...      ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-12 ┆ 26.87  ┆ 27.0   ┆ 26.12  ┆ 26.12  ┆ 4773600  ┆ 2.98      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-11 ┆ 26.62  ┆ 27.37  ┆ 26.62  ┆ 26.87  ┆ 5444000  ┆ 3.07      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-10 ┆ 26.5   ┆ 26.62  ┆ 25.87  ┆ 26.37  ┆ 2346400  ┆ 3.01      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1984-09-07 ┆ 26.5   ┆ 26.87  ┆ 26.25  ┆ 26.5   ┆ 2981600  ┆ 3.02      │
└────────────┴────────┴────────┴────────┴────────┴──────────┴───────────┘

## Selecting dates

In [17]:
df.filter(col("Date").is_between(datetime(1991, 1, 1), datetime(1992, 1, 1))).sort('Date')

shape: (253, 7)
┌────────────┬───────┬───────┬───────┬───────┬──────────┬───────────┐
│ Date       ┆ Open  ┆ High  ┆ Low   ┆ Close ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---      ┆ ---       │
│ date       ┆ f64   ┆ f64   ┆ f64   ┆ f64   ┆ i64      ┆ f64       │
╞════════════╪═══════╪═══════╪═══════╪═══════╪══════════╪═══════════╡
│ 1991-01-02 ┆ 42.75 ┆ 44.0  ┆ 42.0  ┆ 43.5  ┆ 5543600  ┆ 10.29     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-01-03 ┆ 43.5  ┆ 44.25 ┆ 43.0  ┆ 43.0  ┆ 5365600  ┆ 10.17     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-01-04 ┆ 43.0  ┆ 44.25 ┆ 43.0  ┆ 43.25 ┆ 5062400  ┆ 10.23     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-01-07 ┆ 43.0  ┆ 45.25 ┆ 43.0  ┆ 43.25 ┆ 11111200 ┆ 10.23     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...   ┆ ...   ┆ ...   ┆ ...   ┆ ...      ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-12-26 ┆ 52.75 ┆ 55.0  ┆ 52.25 ┆ 54.88 ┆ 4805600  ┆ 13.1      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-12-27 ┆ 54.75 ┆ 55.75 ┆ 54.5  ┆ 55.0  ┆ 6008000  ┆ 13.13     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-12-30 ┆ 55.0  ┆ 57.25 ┆ 55.0  ┆ 56.75 ┆ 6580800  ┆ 13.55     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1991-12-31 ┆ 57.38 ┆ 58.0  ┆ 56.0  ┆ 56.38 ┆ 4802000  ┆ 13.46     │
└────────────┴───────┴───────┴───────┴───────┴──────────┴───────────┘

In [39]:
df.filter(col("Date")==datetime(1991, 1, 2))

shape: (1, 7)
┌────────────┬───────┬──────┬──────┬───────┬─────────┬───────────┐
│ Date       ┆ Open  ┆ High ┆ Low  ┆ Close ┆ Volume  ┆ Adj Close │
│ ---        ┆ ---   ┆ ---  ┆ ---  ┆ ---   ┆ ---     ┆ ---       │
│ date       ┆ f64   ┆ f64  ┆ f64  ┆ f64   ┆ i64     ┆ f64       │
╞════════════╪═══════╪══════╪══════╪═══════╪═════════╪═══════════╡
│ 1991-01-02 ┆ 42.75 ┆ 44.0 ┆ 42.0 ┆ 43.5  ┆ 5543600 ┆ 10.29     │
└────────────┴───────┴──────┴──────┴───────┴─────────┴───────────┘

## The `.dt` namespace

In [37]:
df.select([
    col('Date'),
    col('Date').dt.day().alias('day'),
    col('Date').dt.weekday().alias('weekday'),
])

shape: (6953, 3)
┌────────────┬─────┬─────────┐
│ Date       ┆ day ┆ weekday │
│ ---        ┆ --- ┆ ---     │
│ date       ┆ u32 ┆ u32     │
╞════════════╪═════╪═════════╡
│ 2012-03-30 ┆ 30  ┆ 4       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 2012-03-29 ┆ 29  ┆ 3       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 2012-03-28 ┆ 28  ┆ 2       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 2012-03-27 ┆ 27  ┆ 1       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ... ┆ ...     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 1984-09-12 ┆ 12  ┆ 2       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 1984-09-11 ┆ 11  ┆ 1       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 1984-09-10 ┆ 10  ┆ 0       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 1984-09-07 ┆ 7   ┆ 4       │
└────────────┴─────┴─────────┘

## Fixed and rolling groupby

`groupby_dynamic` requires the dataframe to be sorted on date. `groupby_dynamic` has three parameters:
- `every`: interval of the window
- `period`: length of the window
- `offset`: offset of the window

For example:

- every: 1 day -> "1d"
- period: 1 day -> "1d"

```
this creates adjacent windows of the same size
|--|
   |--|
      |--|
```

- every: 1 day -> "1d"
- period: 2 days -> "2d"

```
these windows have an overlap of 1 day
|----|
   |----|
      |----|
```

- every: 2 days -> "2d"
- period: 1 day -> "1d"

```
this would leave gaps between the windows
data points that in these gaps will not be a member of any group
|--|
       |--|
              |--|
```

In [44]:
df.sort('Date').groupby_dynamic("Date", every='1y').agg(col('Close').mean().alias('close_1y_avg'))

shape: (29, 2)
┌────────────┬──────────────┐
│ Date       ┆ close_1y_avg │
│ ---        ┆ ---          │
│ date       ┆ f64          │
╞════════════╪══════════════╡
│ 1984-01-01 ┆ 25.578625    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1985-01-01 ┆ 20.193676    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1986-01-01 ┆ 32.461028    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1987-01-01 ┆ 53.889684    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2009-01-01 ┆ 146.814127   │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2010-01-01 ┆ 259.84246    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2011-01-01 ┆ 364.004325   │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-01-01 ┆ 503.679839   │
└────────────┴──────────────┘

In [48]:
df.sort('Date').groupby_dynamic("Date", every='2y', period='1y').agg(col('Close').mean().alias('close_1y_avg_per_2y'))

shape: (15, 2)
┌────────────┬─────────────────────┐
│ Date       ┆ close_1y_avg_per_2y │
│ ---        ┆ ---                 │
│ date       ┆ f64                 │
╞════════════╪═════════════════════╡
│ 1984-01-01 ┆ 25.578625           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1986-01-01 ┆ 32.461028           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1988-01-01 ┆ 41.540079           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1990-01-01 ┆ 37.562688           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...                 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2006-01-01 ┆ 70.810637           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2008-01-01 ┆ 141.979012          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2010-01-01 ┆ 259.84246           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2012-01-01 ┆ 503.679839          │
└────────────┴─────────────────────┘